@{
    ViewBag.Title = "Contacts";
}
<div class="container">
    <div class="row">
        <div class="body-content">
            <h2>@ViewBag.Title</h2>
            <h3><span class="glyphicon glyphicon-user"></span> @ViewBag.Message</h3>

            <address>
                <span class="glyphicon glyphicon-home"></span> Kyiv, UA<br/>
                <span class="glyphicon glyphicon-phone-alt"></span> <abbr title="Phone">Phone:</abbr>
                +380957895940
            </address>

            <address>
                <span class="glyphicon glyphicon-envelope"></span> <strong>For communications:</strong>
                <a href="mailto:korols83@gmail.com">korols83@gmail.com</a><br/>
            </address>
        </div>
    </div>
</div>

